VITE_NHOST_BACKEND_URL=https://hledgkxkscluffuwrsxw.ap-south-1.nhost.run
VITE_NHOST_SUBDOMAIN=hledgkxkscluffuwrsxw
VITE_NHOST_REGION=ap-south-1
VITE_GRAPHQL_HTTP=https://hledgkxkscluffuwrsxw.graphql.ap-south-1.nhost.run/v1/
VITE_GRAPHQL_WS=wss://hledgkxkscluffuwrsxw.graphql.ap-south-1.nhost.run/v1/
